<script src="home.component.ts"></script>
<div style="height: 100%; width: 100%; background-color: #f6f6e2;">
    <table class="container">
        <thead>
            <tr>
                <th><h1>ID</h1></th>
                <th><h1>Title</h1></th>
                <th><h1>Url</h1></th>
                <th><h1>Votes</h1></th>
                <th><h1>Author</h1></th>
                <th><h1>Date</h1></th>
                <th><h1>Actions</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tweet of tweets; let i = index">
                <td>{{i+1}}.</td>
                <td [routerLink]="['/tweet',tweet.id]" ><span matBadge="{{tweet.points}}" matBadgeOverlap="false">{{tweet.title}}</span></td>
                <td><a href="https://{{tweet.url}}" target="_blank" *ngIf="tweet.url != '' ">({{tweet.url}})</a><p *ngIf="tweet.url == '' ">There isn't URL</p></td>
                <td>{{tweet.points}}</td>
                <td [routerLink]="['/users',tweet.user_id ]">{{tweet.author}}</td>
                <td>{{tweet.created_at}}</td>
                <td fxLayout="row">
                    <button mat-button *ngIf="!myTweet(tweet.user_id) && !isVoted(tweet)" (click)="vote(tweet.id,'true')"><mat-icon>arrow_drop_up</mat-icon></button>
                    <button mat-button *ngIf="!myTweet(tweet.user_id) && isVoted(tweet)" (click)="vote(tweet.id,'false')"><mat-icon>arrow_drop_down</mat-icon></button>
                    <button mat-button [routerLink]="['/tweet',tweet.id]" ><mat-icon>comment</mat-icon></button>
                    <button mat-button *ngIf="myTweet(tweet.user_id)" (click)="deleteTweet(tweet.id)"><mat-icon>delete</mat-icon></button>
                 </td>
                
             </tr>
        </tbody>
    </table>
</div>

