<div style="width: 100%; background-color: #F6F6EF; border-top: solid 5px #FF6600;">
    <mat-grid-list cols="8" rowHeight="2:1" style="color: black;">
        <mat-grid-tile><button mat-button> Guidelines </button></mat-grid-tile>
        <mat-grid-tile><button mat-button> FAQ </button></mat-grid-tile>
        <mat-grid-tile><button mat-button> Lists </button></mat-grid-tile>
        <mat-grid-tile><button mat-button> API </button></mat-grid-tile>
        <mat-grid-tile><button mat-button> Security </button></mat-grid-tile>
        <mat-grid-tile><button mat-button> Legal </button></mat-grid-tile>
        <mat-grid-tile><button mat-button> Apply to YC </button></mat-grid-tile>
        <mat-grid-tile><button mat-button> Contact </button></mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="16:1" style="color: black;">
        <mat-grid-tile>search: <input type="text"></mat-grid-tile>
      </mat-grid-list>
</div>
